[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
graphviz = "*"
jupyter = "*"
nbdime = "*"

[dev-packages]

[requires]
python_version = "3.7"
